{% extends "base.html" %}
{% load i18n %}

{% block title %}重置密码{% endblock %}

{% block extra_css %}
<link href="/static/css/user.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="text_intro">
	<h1>重置密码</h1>
    <p>输入注册的邮箱，我们将向您的邮箱发送密码重置邮件，请注意查收。</p>
</div>
<div class="form-wrapper">
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		<div class="button-wrapper submit">
			<input type="submit" value="{% trans '提 交' %}" />
		</div>
	</form>
</div>
{% endblock %}
