{% extends "base.html" %}
{% load i18n %}

{% block title %}重置密码{% endblock %}

{% block extra_css %}
<link href="/static/css/user.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
{% if validlink %}
	<div class="form-wrapper">
		<form method="post" action=".">
			{% if form.errors %}
				{% include "users/partials/errors.html" %}
			{% endif %}
			{% csrf_token %}
			{% for field in form %}
				{% include "users/partials/field.html" %}
			{% endfor %}
			<div class="button-wrapper submit">
				<input type="submit" value="{% trans '重 置' %}" /><!--Submit-->
			</div>
		</form>
	</div>
{% else %}
	<div class="text_intro">
		<p>{% trans "密码重置失败" %}</p><!--Password reset failed-->
	</div>
{% endif %}
{% endblock %}
