{% extends "base.html" %}

{% block title %}微生物信息服务平台{% endblock %}

{% block extra_css %}
<link href="/static/css/home.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block current1 %}menu_current{% endblock %}

{% block content %}
    <div class="welcome">
    </div>
    <!--data-->
    <div class="micro_title">
        <h2>我们的数据</h2>
    </div>
    <div class="data_sum">
    </div>
    <!--work-->
    <div class="micro_title">
        <h2>如何使用</h2>
    </div>
    <div class="howtowork">
    </div>
{% endblock %}